@media (max-width: 928px) {
	main {
		.main_section {
			.logo {
				width: 425px;
				height: 375px;
			}
		}
	}

	.gameMain {
		.table {
			.gameResources {
				.title {
					font-size: 1.6rem;
				}
			}
			.rivalsPoint {
				.box {
					.playerName {
						font-size: 1.5rem;
						font-weight: bold;
					}
					.oponentTrains,
					.trainCards,
					.destination {
						font-size: 1.1rem;
					}
				}
			}
		}
		.trainPopup {
			.trainPopupText {
				font-size: 3.5rem;
				margin: 0;
			}
			.trainPopupCardsBox {
				.trainPopupCard {
					width: 250px;
					height: 175px;
				}
			}
		}
	}
}
