#_1 {
	cursor: pointer;

	#train1 {
		top: 408px;
		left: 24.3%;
		rotate: 31deg;
	}
	#train2 {
		top: 416px;
		left: 29%;
	}
	#train3 {
		top: 416px;
		left: 33.8%;
	}
	#train4 {
		top: 416px;
		left: 38.75%;
		rotate: -5deg;
	}
	#train5 {
		top: 407.2px;
		left: 43.5%;
		rotate: -20.5deg;
	}
	#train6 {
		top: 385px;
		left: 47.15%;
		rotate: -58.5deg;
	}
}
#_2 {
	cursor: pointer;
	#train1 {
		top: 377px;
		left: 23.3%;
		rotate: -42deg;
	}
	#train2 {
		top: 349.5px;
		left: 26.2%;
		rotate: -62deg;
	}
	#train3 {
		top: 317.5px;
		left: 28%;
		rotate: -73deg;
	}
}
#_3 {
	cursor: pointer;

	#train1 {
		top: 368px;
		left: 19.5%;
		rotate: -100deg;
	}
	#train2 {
		top: 335px;
		left: 18.9%;
		rotate: -97deg;
	}
	#train3 {
		top: 300.2px;
		left: 18.25%;
		rotate: -94deg;
	}
}
#_4 {
	cursor: pointer;

	#train1 {
		top: 371px;
		left: 17.6%;
		rotate: -100deg;
	}
	#train2 {
		top: 337.5px;
		left: 16.85%;
		rotate: -97deg;
	}
	#train3 {
		top: 301.5px;
		left: 16.3%;
		rotate: -94deg;
	}
}
#_5 {
	cursor: pointer;

	#train1 {
		top: 380px;
		left: 14.5%;
		rotate: -142deg;
	}
	#train2 {
		top: 348px;
		left: 10.6%;
		rotate: -127deg;
	}
	#train3 {
		top: 310px;
		left: 8.6%;
		rotate: -97deg;
	}
	#train4 {
		top: 269.5px;
		left: 8.4%;
		rotate: -84deg;
	}
	#train5 {
		top: 231.5px;
		left: 9.5%;
		rotate: -70deg;
	}
}
#_6 {
	cursor: pointer;

	#train1 {
		top: 392px;
		left: 13.4%;
		rotate: -142deg;
	}
	#train2 {
		top: 357.5px;
		left: 9.2%;
		rotate: -127deg;
	}
	#train3 {
		top: 311px;
		left: 6.8%;
		rotate: -97deg;
	}
	#train4 {
		top: 269px;
		left: 6.8%;
		rotate: -85deg;
	}
	#train5 {
		top: 227.5px;
		left: 7.8%;
		rotate: -70deg;
	}
}
#_7 {
	cursor: pointer;

	#train1 {
		top: 250px;
		left: 16.5%;
		rotate: -121deg;
	}
	#train2 {
		top: 220px;
		left: 14.3%;
		rotate: -119deg;
	}
}
#_8 {
	cursor: pointer;

	#train1 {
		top: 258px;
		left: 14.9%;
		rotate: -120deg;
	}
	#train2 {
		top: 227.5px;
		left: 12.7%;
		rotate: -118deg;
	}
}
#_9 {
	cursor: pointer;

	#train1 {
		top: 175px;
		left: 12.3%;
		rotate: -86deg;
	}
	#train2 {
		top: 139px;
		left: 12.8%;
		rotate: -80deg;
	}
}
#_10 {
	cursor: pointer;

	#train1 {
		top: 87px;
		left: 14.9%;
		rotate: -57deg;
	}
}
#_11 {
	cursor: pointer;

	#train1 {
		top: 96px;
		left: 16.5%;
		rotate: -57deg;
	}
}
#_12 {
	cursor: pointer;

	#train1 {
		top: 132.5px;
		left: 16.7%;
		rotate: -137deg;
	}
	#train2 {
		top: 153px;
		left: 20.5%;
		rotate: -150deg;
	}
	#train3 {
		top: 169px;
		left: 24.8%;
		rotate: -160deg;
	}
}
#_13 {
	cursor: pointer;

	#train1 {
		top: 99px;
		left: 20.1%;
		rotate: -118deg;
	}
	#train2 {
		top: 127px;
		left: 22.7%;
		rotate: -130deg;
	}
	#train3 {
		top: 151px;
		left: 25.9%;
		rotate: -140deg;
	}
}
#_14 {
	cursor: pointer;

	#train1 {
		top: 67px;
		left: 21.4%;
		rotate: -22deg;
	}
	#train2 {
		top: 60px;
		left: 25.9%;
	}
	#train3 {
		top: 66px;
		left: 30.1%;
		rotate: 18deg;
	}
	#train4 {
		top: 88px;
		left: 33.6%;
		rotate: 59deg;
	}
}
#_15 {
	cursor: pointer;

	#train1 {
		top: 46px;
		left: 20.6%;
		rotate: -37deg;
	}
	#train2 {
		top: 33px;
		left: 25%;
		rotate: -6deg;
	}
	#train3 {
		top: 33px;
		left: 30%;
		rotate: 4deg;
	}
	#train4 {
		top: 37.5px;
		left: 34.6%;
		rotate: 12deg;
	}
	#train5 {
		top: 45.5px;
		left: 39.2%;
		rotate: 12deg;
	}
}
#_16 {
	cursor: pointer;

	#train1 {
		top: 195px;
		left: 25.35%;
		rotate: -21deg;
	}
	#train2 {
		top: 215px;
		left: 21.7%;
		rotate: -47deg;
	}
	#train3 {
		top: 245px;
		left: 19.5%;
		rotate: -70deg;
	}
}
#_17 {
	cursor: pointer;

	#train1 {
		top: 279px;
		left: 21.5%;
		rotate: 8deg;
	}
	#train2 {
		top: 284.5px;
		left: 25.8%;
		rotate: 8deg;
	}
}
#_18 {
	cursor: pointer;

	#train1 {
		top: 93px;
		left: 37.3%;
		rotate: -50deg;
	}
	#train2 {
		top: 70px;
		left: 40.3%;
		rotate: -44deg;
	}
}
#_19 {
	cursor: pointer;

	#train1 {
		top: 64.5px;
		left: 45.3%;
		rotate: 37deg;
	}
	#train2 {
		top: 79px;
		left: 49.7%;
		rotate: 10deg;
	}
	#train3 {
		top: 80px;
		left: 54.2%;
		rotate: -7deg;
	}
	#train4 {
		top: 67px;
		left: 59%;
		rotate: -37deg;
	}
	#train5 {
		top: 53.5px;
		left: 63.7%;
		rotate: deg;
	}
}
#_20 {
	cursor: pointer;

	#train1 {
		top: 36px;
		left: 46.8%;
		rotate: -24deg;
	}
	#train2 {
		top: 21.5px;
		left: 52.5%;
		rotate: -15deg;
	}
	#train3 {
		top: 15px;
		left: 59%;
		rotate: -2deg;
	}
	#train4 {
		top: 16.5px;
		left: 65.5%;
		rotate: 4deg;
	}
	#train5 {
		top: 20px;
		left: 71.2%;
		rotate: 5deg;
	}
	#train6 {
		top: 24px;
		left: 76.8%;
		rotate: 5deg;
	}
}
#_21 {
	cursor: pointer;

	#train1 {
		top: 123px;
		left: 32.3%;
		rotate: -30deg;
	}
	#train2 {
		top: 150px;
		left: 29.6%;
		rotate: -79deg;
	}
}
#_22 {
	cursor: pointer;

	#train1 {
		top: 145px;
		left: 36.7%;
		rotate: -103.5deg;
	}
	#train2 {
		top: 182.5px;
		left: 37.5%;
		rotate: -96deg;
	}
}
#_23 {
	cursor: pointer;

	#train1 {
		top: 129px;
		left: 40.3%;
		rotate: 20.5deg;
	}
	#train2 {
		top: 157px;
		left: 45.2%;
		rotate: 50deg;
	}
}
#_24 {
	cursor: pointer;

	#train1 {
		top: 213.5px;
		left: 30.1%;
		rotate: 82deg;
	}
	#train2 {
		top: 250.5px;
		left: 30.5%;
		rotate: 89deg;
	}
}
#_25 {
	cursor: pointer;

	#train1 {
		top: 215px;
		left: 28.2%;
		rotate: 82deg;
	}
	#train2 {
		top: 251px;
		left: 28.5%;
		rotate: 89deg;
	}
}
#_26 {
	cursor: pointer;

	#train1 {
		top: 188px;
		left: 31.9%;
		rotate: 20deg;
	}
	#train2 {
		top: 205px;
		left: 35.5%;
		rotate: 45deg;
	}
}
#_27 {
	cursor: pointer;

	#train1 {
		top: 331px;
		left: 31.4%;
		rotate: 60deg;
	}
	#train2 {
		top: 352.5px;
		left: 35.3%;
		rotate: 8deg;
	}
	#train3 {
		top: 357.5px;
		left: 40%;
		rotate: 8deg;
	}
	#train4 {
		top: 360px;
		left: 44.8%;
	}
}
#_28 {
	cursor: pointer;

	#train1 {
		top: 311px;
		left: 33.1%;
		rotate: 29deg;
	}
	#train2 {
		top: 321.5px;
		left: 38.5%;
		rotate: 2deg;
	}
	#train3 {
		top: 320px;
		left: 43.8%;
		rotate: -7deg;
	}
}
#_29 {
	cursor: pointer;

	#train1 {
		top: 290px;
		left: 32.8%;
		rotate: 10deg;
	}
	#train2 {
		top: 294px;
		left: 37%;
		rotate: 3deg;
	}
	#train3 {
		top: 290px;
		left: 41.1%;
		rotate: -15deg;
	}
	#train4 {
		top: 281px;
		left: 45.2%;
		rotate: -20deg;
	}
	#train5 {
		top: 260px;
		left: 48.5%;
		rotate: -58deg;
	}
}
#_30 {
	cursor: pointer;

	#train1 {
		top: 267px;
		left: 33.1%;
		rotate: -32deg;
	}
	#train2 {
		top: 243px;
		left: 36.4%;
		rotate: -60deg;
	}
}
#_31 {
	cursor: pointer;

	#train1 {
		top: 209px;
		left: 41.1%;
		rotate: -30deg;
	}
	#train2 {
		top: 192px;
		left: 45%;
		rotate: -28deg;
	}
}
#_32 {
	cursor: pointer;

	#train1 {
		top: 234px;
		left: 41.3%;
		rotate: 20deg;
	}
	#train2 {
		top: 239px;
		left: 45.9%;
		rotate: -5deg;
	}
}
#_33 {
	cursor: pointer;

	#train1 {
		top: 341px;
		left: 47.7%;
		rotate: 82deg;
	}
}
#_34 {
	cursor: pointer;

	#train1 {
		top: 339px;
		left: 49.6%;
		rotate: 83deg;
	}
}
#_35 {
	cursor: pointer;

	#train1 {
		top: 295px;
		left: 49.5%;
		rotate: -68deg;
	}
	#train2 {
		top: 269.5px;
		left: 51.9%;
		rotate: -40deg;
	}
	#train3 {
		top: 253px;
		left: 55.5%;
		rotate: -20deg;
	}
}
#_36 {
	cursor: pointer;

	#train1 {
		top: 338px;
		left: 54.7%;
		rotate: -17deg;
	}
}
#_37 {
	cursor: pointer;

	#train1 {
		top: 353px;
		left: 55.4%;
		rotate: -17deg;
	}
}
#_38 {
	cursor: pointer;

	#train1 {
		top: 325px;
		left: 51.8%;
		rotate: -78deg;
	}
	#train2 {
		top: 293.9px;
		left: 54.4%;
		rotate: -33deg;
	}
	#train3 {
		top: 270px;
		left: 57.5%;
		rotate: -60deg;
	}
}
#_39 {
	cursor: pointer;

	#train1 {
		top: 344px;
		left: 63.7%;
		rotate: 4deg;
	}
	#train2 {
		top: 349px;
		left: 68.4%;
		rotate: 10deg;
	}
	#train3 {
		top: 354px;
		left: 73%;
		rotate: 7deg;
	}
}
#_40 {
	cursor: pointer;

	#train1 {
		top: 309px;
		left: 61%;
		rotate: -63deg;
	}
	#train2 {
		top: 282px;
		left: 63.7%;
		rotate: -45deg;
	}
}
#_41 {
	cursor: pointer;

	#train1 {
		top: 292px;
		left: 64.9%;
		rotate: -47deg;
	}
	#train2 {
		top: 318px;
		left: 62.4%;
		rotate: -61deg;
	}
}
#_42 {
	cursor: pointer;

	#train1 {
		top: 323px;
		left: 58.3%;
		rotate: 55deg;
	}
	#train2 {
		top: 290px;
		left: 58.7%;
		rotate: -45deg;
	}
	#train3 {
		top: 259px;
		left: 60.2%;
		rotate: -96deg;
	}
}
#_43 {
	cursor: pointer;

	#train1 {
		top: 237.5px;
		left: 54.4%;
		rotate: -1deg;
	}
}
#_44 {
	cursor: pointer;

	#train1 {
		top: 221.5px;
		left: 54.3%;
		rotate: -1deg;
	}
}
#_45 {
	cursor: pointer;

	#train1 {
		top: 213px;
		left: 48.25%;
		rotate: -101deg;
	}
}
#_46 {
	cursor: pointer;

	#train1 {
		top: 210px;
		left: 50%;
		rotate: -101deg;
	}
}
#_47 {
	cursor: pointer;

	#train1 {
		top: 164px;
		left: 50.8%;
		rotate: -35deg;
	}
	#train2 {
		top: 153.5px;
		left: 55.1%;
		rotate: -4deg;
	}
	#train3 {
		top: 156px;
		left: 59.4%;
		rotate: 10deg;
	}
}
#_48 {
	cursor: pointer;

	#train1 {
		top: 150px;
		left: 48.8%;
		rotate: -60deg;
	}
	#train2 {
		top: 123px;
		left: 51.8%;
		rotate: -43deg;
	}
	#train3 {
		top: 106px;
		left: 56%;
		rotate: -10deg;
	}
	#train4 {
		top: 95px;
		left: 60.6%;
		rotate: -30deg;
	}
	#train5 {
		top: 75px;
		left: 65%;
		rotate: -40deg;
	}
}
#_49 {
	cursor: pointer;

	#train1 {
		top: 81px;
		left: 67.8%;
		rotate: -74deg;
	}
	#train2 {
		top: 111px;
		left: 66.5%;
		rotate: -74deg;
	}
	#train3 {
		top: 141px;
		left: 64.6%;
		rotate: -57deg;
	}
}
#_50 {
	cursor: pointer;

	#train1 {
		top: 53px;
		left: 72.8%;
		rotate: -2deg;
	}
	#train2 {
		top: 43px;
		left: 77.8%;
		rotate: -27deg;
	}
}
#_51 {
	cursor: pointer;

	#train1 {
		top: 57px;
		left: 81.2%;
		rotate: 90deg;
	}
	#train2 {
		top: 93px;
		left: 80.2%;
		rotate: 117deg;
	}
}
#_52 {
	cursor: pointer;

	#train1 {
		top: 187px;
		left: 60.6%;
		rotate: 104deg;
	}
}
#_53 {
	cursor: pointer;

	#train1 {
		top: 190px;
		left: 62.3%;
		rotate: 104deg;
	}
}
#_54 {
	cursor: pointer;

	#train1 {
		top: 155px;
		left: 67.1%;
		rotate: -16deg;
	}
	#train2 {
		top: 132px;
		left: 71.1%;
		rotate: 124deg;
	}
	#train3 {
		top: 115px;
		left: 75.5%;
		rotate: 10deg;
	}
}
#_55 {
	cursor: pointer;

	#train1 {
		top: 235.5px;
		left: 62.65%;
		rotate: 4deg;
	}
	#train2 {
		top: 253.5px;
		left: 66.2%;
		rotate: -110deg;
	}
}
#_56 {
	cursor: pointer;

	#train1 {
		top: 221.5px;
		left: 65.7%;
		rotate: -2deg;
	}
	#train2 {
		top: 214px;
		left: 70%;
		rotate: -24deg;
	}
	#train3 {
		top: 198px;
		left: 74%;
		rotate: -34deg;
	}
}
#_57 {
	cursor: pointer;

	#train1 {
		top: 200.1px;
		left: 65%;
		rotate: -40deg;
	}
	#train2 {
		top: 177.5px;
		left: 69.5%;
		rotate: -30deg;
	}
	#train3 {
		top: 148px;
		left: 74.4%;
		rotate: -44deg;
	}
}
#_58 {
	cursor: pointer;

	#train1 {
		top: 153.8px;
		left: 77.9%;
		rotate: 102deg;
	}
}
#_59 {
	cursor: pointer;

	#train1 {
		top: 141px;
		left: 81.1%;
		rotate: -132deg;
	}
	#train2 {
		top: 171px;
		left: 80.3%;
		rotate: 150deg;
	}
}
#_60 {
	cursor: pointer;

	#train1 {
		top: 224px;
		left: 74.9%;
		rotate: 114deg;
	}
	#train2 {
		top: 257px;
		left: 71.2%;
		rotate: 143deg;
	}
}
#_61 {
	cursor: pointer;

	#train1 {
		top: 213.5px;
		left: 77.4%;
		rotate: -101deg;
	}
	#train2 {
		top: 248px;
		left: 77.8%;
		rotate: -91deg;
	}
	#train3 {
		top: 282px;
		left: 77.9%;
		rotate: -91deg;
	}
	#train4 {
		top: 314px;
		left: 77.3%;
		rotate: -72deg;
	}
}
#_62 {
	cursor: pointer;

	#train1 {
		top: 211.5px;
		left: 79.3%;
		rotate: -101deg;
	}
	#train2 {
		top: 248px;
		left: 79.8%;
		rotate: -91deg;
	}
	#train3 {
		top: 284px;
		left: 79.8%;
		rotate: -91deg;
	}
	#train4 {
		top: 319px;
		left: 79.1%;
		rotate: -72deg;
	}
}
#_63 {
	cursor: pointer;

	#train1 {
		top: 298.5px;
		left: 68.3%;
		rotate: -109deg;
	}
	#train2 {
		top: 322px;
		left: 71.4%;
		rotate: -155deg;
	}
	#train3 {
		top: 340px;
		left: 75%;
		rotate: -138deg;
	}
}
